.livreur-home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .content-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .content-container {
      flex-direction: column;
      align-items: center;
    }
  }